<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackandCraft.Payment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="hackandCraft.Payment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HackandCraft.Payment.Properties.Settings>
            <setting name="HackandCraft_Payment_comadyenpalliveRecurring_Recurring"
                serializeAs="String">
                <value>https://pal-live.adyen.com/pal/servlet/soap/Recurring</value>
            </setting>
            <setting name="HackandCraft_Payment_comadyenpaltest_Payment"
                serializeAs="String">
                <value>https://pal-test.adyen.com/pal/servlet/soap/Payment</value>
            </setting>
        </HackandCraft.Payment.Properties.Settings>
        <hackandCraft.Payment.Properties.Settings>
            <setting name="hackandCraft_Payment_comadyenpalliveRecurring_Recurring"
                serializeAs="String">
                <value>https://pal-live.adyen.com/pal/servlet/soap/Recurring</value>
            </setting>
            <setting name="hackandCraft_Payment_comadyenpaltest_Payment"
                serializeAs="String">
                <value>https://pal-test.adyen.com/pal/servlet/soap/Payment</value>
            </setting>
        </hackandCraft.Payment.Properties.Settings>
    </applicationSettings>
</configuration>